modules = ["nodejs-20", "web"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 5173

[[ports]]
localPort = 5174
externalPort = 3000

[[ports]]
localPort = 5175
externalPort = 3002

[[ports]]
localPort = 5176
externalPort = 3001

[[ports]]
localPort = 5177
externalPort = 3003

[[ports]]
localPort = 5178
externalPort = 4200

[[ports]]
localPort = 5179
externalPort = 5000

[[ports]]
localPort = 5180
externalPort = 6000

[[ports]]
localPort = 5181
externalPort = 6800

[[ports]]
localPort = 5182
externalPort = 8000

[[ports]]
localPort = 5183
externalPort = 8080

[[ports]]
localPort = 5184
externalPort = 8081

[[ports]]
localPort = 5185
externalPort = 8099

[[ports]]
localPort = 5186
externalPort = 9000

[[ports]]
localPort = 5190
externalPort = 8008

[deployment]
deploymentTarget = "autoscale"
run = ["npx", "tsx", "server.ts"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BGq_vwpg5jOV33Nb6n5Yin_vusBfmsuTbVY2eVjoZg7XCN8uYb7om6dcQ52kpM5Ta35-YcCo5PBar-QuCCmd2F4"
FIREBASE_VAPID_KEY = "BMxSn0OiBM1q77aEQ7zP8WU8h12NXm4wkTXIEpgT_0wgEIhDuF0eB-WWl0kNZ5B7DkXo1SGKdxhCjSPju1bEyDM"
FIREBASE_API_KEY = "AIzaSyBwS26XgSjz7B_jciqnnySE15hUib4Y-x8"
FIREBASE_PROJECT_ID = "neopay-446f3"
FIREBASE_APP_ID = "1:867285773092:web:83a40368df8c24c83fe1b1"
FIREBASE_AUTH_DOMAIN = "neopay-446f3.firebaseapp.com"
FIREBASE_STORAGE_BUCKET = "neopay-446f3.firebasestorage.app"
FIREBASE_MESSAGING_SENDER_ID = "867285773092"
FIREBASE_DATABASE_ID = "(default)"
